Source: protontricks
Section: unknown
Priority: optional
Maintainer: crt0mega <crt0mega@c-r-t.tk>
Build-Depends: debhelper (>= 11)
Standards-Version: 4.1.3
Homepage: https://github.com/crt0mega/protontricks
#Vcs-Browser: https://salsa.debian.org/debian/protontricks
Vcs-Git: https://github.com/crt0mega/protontricks.git

Package: protontricks
Architecture: all
Depends: ${misc:Depends}, python3, winetricks, zenity, git
Description: A simple wrapper that does winetricks things for Proton enabled games, requires Winetricks.
 This is a simple wrapper script that uses Winetricks to allow you to specify the game's App ID rather than the full length directory to the Proton prefix itself, I thought this would be easier for some so I decided to upload it for everyone to use!
